<nav class="nav">
  <ul class="nav-list">
    <li><a href="/" class="nav-link"><i class="fas fa-home"></i> Início</a></li>
    <li><a href="/producao/html/registrar.html" class="nav-link"><i class="fas fa-plus-circle"></i> Registrar Produção</a></li>
    <li><a href="/producao/html/gerenciar-lotes.html" class="nav-link"><i class="fas fa-boxes"></i> Registrar Lote</a></li>
    <li><a href="/producao/html/ficha-funcionario.html" class="nav-link"><i class="fas fa-id-card"></i> Produção por Funcionário</a></li>
  </ul>
</nav>